@using Capstone.Models
@model UserPO
@{
    ViewBag.Title = "AddUser";

    int userRole = 0;

    if (userRole == 0)
    {
        int.TryParse(Session["RoleID"].ToString(), out userRole);
    }
}
<head>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    @if (Session["Username"] != null && (userRole == 1 || userRole == 2))
    {
        <div class="Forms container">
            <h2>AddUser</h2>
            @using (Html.BeginForm("AddUser", "User", FormMethod.Post))
            {
                <div class="form-horizontal FormContentUser">
                    @Html.Label("Role ID")
                    <div class="form-group">
                        @Html.TextBoxFor(model => Model.RoleId)
                    </div>
                    @Html.Label("Username")
                    <div class="form-group">
                        @Html.TextBoxFor(model => Model.Username)
                    </div>
                    @Html.Label("Password")
                    <div class="form-group">
                        @Html.PasswordFor(model => Model.Password)
                    </div>
                    @Html.Label("Email Address")
                    <div class="form-group">
                        @Html.TextBoxFor(model => Model.Email)
                    </div>
                    @Html.Label("First Name")
                    <div class="form-group">
                        @Html.TextBoxFor(model => Model.Name)
                    </div>
                    <input type="submit" value="Submit" />
                </div>
            }
        </div>
    }
    else
    {
        @Html.Action("Index", "User", null)
    }
</body>